/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'materialize-sass'
  body {
   background-color: #92A4B0;
 }
 .container {
   background-color: #E6F5FF;
   padding: 10px;
   border: 2px solid #6499BD;
   border-radius: 10px;
   margin: 20px;
 }
 table {
   background-color: #D2EBFC !important;
 }
 table a {
   color:#6499BD !important;
   font-style: italic;
 }
 #title_img {
   width:100%;
 }
 .banner {
   background-color: #6499BD;
   height: 300px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
 }
 .banner .title {
   color: white;
   background-color: black;
   opacity: .5;
   height: 100%;
   text-align: center;
   padding-top: 150px;
   padding-bottom: 150px;
   font-size: 100px;
 }
 .grid img {
     display: block;
     margin: 50px;
     width: 85%;
     border-radius: 10px;
   }
